header{
    text-align: center;
    background-color: aquamarine;
    font-family: sans-serif;
}

div{
    text-align: center;
    font-family: sans-serif;
    background-color: aquamarine;
}

footer{
    background-color: blue;
    font-family: sans-serif;
    color: aliceblue;
    text-align: center;
    font-size: 43px;
}

